
* {
   box-sizing: border-box;
   margin: 0; 
   color: white;
}

h1 {
    font-family: 'Futura', sans-serif;
    color: #002432;
    font-size: 2em;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 1.5em; 
}

main {
    padding-top: 80px;
    background-color: white;
}

header {
    display: flex;
    position: fixed;
    background-color: #002432;
    color: white;
    text-decoration: none;
    height: 80px;
    width: 100%;
    padding-left: 25px;
}

header a {
    align-self: center;
}

a {
    text-decoration: none;
}

.logo {
    height: 30px;
}

.hero {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../img/tim-gouw-1K9T5YiZ2WU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    color: black;
    text-align: center;
    padding: 40px;
}

.headline {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #E4A636;
    padding: 19px;
    border-radius: 15px;
    grid-area: header;
}

.container1 div a {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    padding: 5px;
    border-radius: 15px;
    grid-area: item;
    justify-content: center;
    align-items: center;
}

.container1 div a:hover {
    box-shadow: 1px 1px 8px grey;
    transform: scale(1.05);
}

.container1 {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-areas: 
        "header header header header"
        "item item item item";
    gap: 20px 5px;
    padding: 20px 80px 60px 80px;
    justify-content: space-evenly;
    text-align: center;
}

div a img {
    width: 150px;
    padding: 15px 15px 10px 15px;
}

.title {
    color: black;
    font-size: 1em;
}

.trailline {
    padding: 10px 25px 10px 25px;
    text-decoration: none;
}

.trailline li {
    display: inline;
}

.trail1,
.trail2 {
    color: #595959;
}

.trail2 {
    font-weight: bold;
}

.container2 {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    grid-template-rows: 520px 1fr;
    grid-template-areas: 
    "text box"
    "video video";
    padding: 10px 20px 20px 20px;
    gap: 20px;
}

.infotext {
    display: grid;
    grid-template-columns: 1fr 280px 80px 1fr;
    grid-template-rows: 100px 400px ;
    grid-area: text;
    justify-self: flex-end;
    padding: 100px 0px 100px 0px;
    grid-template-areas: 
    ". h1 logosmall ."
    "pitext pitext pitext pitext";
}

.infotext h1 {
    grid-area: h1;
}

.contactbox {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 650px;
    background-color: #E4A636;
    border-radius: 15px;
    padding: 40px 30px 40px 30px;
    grid-area: box;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
}

main section div p,
main section div a,
main section div a i {
    font-size: 1.25em;
    padding-top: 10px;
    color: black;
    text-wrap: wrap;
}

.itext {
    max-width: 700px;
    max-height: 450px;
    padding: 30px 0px 0 0px;
    grid-area: pitext;
}

.logosmall {
    width: 80px;
    height: 80px;
    margin: 0 10px 0 10px;
    grid-area: logosmall;
    align-self: center;
}

.picsupuser {
    width: 250px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 250px;
}

.infotext h1 {
    font-size: 4em;
    height: 80px;
    align-self: center;
    justify-self: flex-end;
}

h2 {
    font-family: 'Futura', sans-serif;
    font-size: 2.25em;
    padding: 10px 0 10px 0;
    color: black;
    text-wrap: wrap;
}

.contactbox h2 {
    text-align: center;
}

.videobox {
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 80px 50px 1fr;
    grid-template-areas: 
    "h2"
    "p"
    "frame";
    grid-area: video;
}

.videobox p {
    grid-area: p;
}

.videobox h2 {
    padding-top: 30px;
    grid-area: h2;
}

iframe {
    width: 640px;
    height: 360px;
    padding: 5px;
}

.iframe {
    display: flex;
    flex-wrap: wrap;
    grid-area: frame;
    justify-content: center;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #002432;
}

.footertext {
    text-align: center;
    padding: 20px;
    font-size: 1em;
}


@media only screen and (max-width: 668px) {
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "item item";
        gap: 10px 10px;
        padding: 20px 25px 40px 25px;
        text-align: center;
    }
    
    .htext {
        padding: 0 30px 0 30px;
    }

    .container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "text"
        "video"
        "box";
        padding: 30px;
        gap: 20px;
    }

    .infotext {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px 1fr ;
        grid-area: text;
        justify-content: center;
        padding: 0px 0 20px 0;
        grid-template-areas: 
        "h1 logosmall"
        "pitext pitext";
}

    .infotext h1 {
        font-size: 2.5em;
        height: 80px;
        justify-self: flex-end;
    }

    .logosmall {
        width: 50px;
        height: 50px;
        margin: 0 0 0 10px;
        justify-self: flex-start;
        align-self: flex-start;
    }

    .contactbox {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        min-width: 315px;
        background-color: #E4A636;
        border-radius: 15px;
        padding: 40px 30px 40px 30px;
        grid-area: box;
        justify-content: center;
        align-items: center;
        justify-self: center;
    }

    .itext {
        padding: 20px 5px 0 5px;
    }

    .videobox {
        display: grid;
        justify-content: center;
        grid-template-columns: 100%;
        grid-template-rows: 90px 1fr;
        grid-template-areas: 
        "h2"
        "p"
        "frame";
        grid-area: video;
        padding-bottom: 10px;
    }

    .videobox h2 {
        padding-top: 15px;
        grid-area: h2;
        font-size: 1.5em;
        text-align: center;
    }

    .videobox p {
        padding: 0px 5px 10px 5px;
        justify-self: center;
        text-align: center;
        font-size: 1.125em;
    }
    
    iframe {
        display: flex;
        width: 315px;
        height: 177px;
        grid-area: frame;
        justify-content: center;
    }
    
    }